table td {
    width: 50px;
    height: 50px;
    border: 4px solid black;
    background-color: white;
}

table {
    border-collapse: collapse;
}

.joueurVert {
    background-color: green;
}

.joueurRouge {
    background-color: red;
}

.joueurVide {
    background-color: white;
}

body {
    background-color: lightgrey;
}
.carre {
    background-color: #ffb700;
	border-style: solid;
	border-width: 3px;
	width:90px;
    height:90px;
    margin:30px;
	font-style: oblique;
    
}

.ligne {
}

#carre01, #carre11, #carre21 {
}

#carre02, #carre12, #carre22 {    
}

